<div class="row">

    <div class="col-12 col-md-6 mb-2 mb-md-0">
        <div class="card">
            <a href="main/food">
                <img src="https://media.istockphoto.com/id/545286388/de/foto/chinesische-lebensmittel-leer-hintergrund.jpg?s=612x612&w=0&k=20&c=QRM2luMaPSywVkQwfwUm_7lLQgee_uVRj3vkyukUF0k=" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
                <h5 class="card-title">Buffet</h5>
                <p class="card-text">Zur Planung des Buffets geht es hier lang.</p>
                <a href="main/food" class="btn btn-primary">Zur Buffetplanung</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <a href="main/shopping">

                <img src="https://utopia.de/app/uploads/2031/05/geschenke-baby-geburt-taufe-w-christart-210519-1280x720-1.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Geschenkideen</h5>
                <p class="card-text">Zur Geschenkeliste geht es hier lang.</p>
                <a href="main/shopping" class="btn btn-primary">Zu den Geschenkideen</a>
            </div>
        </div>
    </div>

</div>