<div class="container">

    <div class="col">
        <div class="row">
            Hallo Liebe Freunde,
            <p>
                Wenn ihr uns und dem Babyetwas schenken möchtet, möchten wir euch gerne ermutigen etwas aus der Liste zu
                reservieren. Wir möchten gerne verhindern, dass wir Geschenke doppelt bekommen.
                Die Dinge die wir hier haben sind Dinge, die wir wirklich gut gebrauchen können!
            </p>
            <p>Sobald etwas reserviert worden ist, ist es nur noch für euch sichtbar und wird für die anderen aus der
                Liste entfernt.</p>
            <p>Wenn etwas in der Liste einen Link hat, bitte dieses Produkt (muss nicht der angegebene Shop sein) holen.
                Wir haben uns das Produkt schon vorher ausgesucht</p>
        </div>
    </div>
    <app-headline></app-headline>
    <app-item-list></app-item-list>
</div>