<div class="row">
    <div class="col">
        <div class="alert alert-primary  mt-2">

            Hallo Liebe Freunde,
            <p>
                Wenn ihr uns und dem Baby etwas schenken möchtet, möchten wir euch gerne ermutigen etwas aus der Liste zu
                reservieren. Wir möchten gerne verhindern, dass wir Geschenke doppelt bekommen.
                Die Dinge, die wir hier haben, sind Dinge, die wir wirklich gut gebrauchen können!
            </p>
            <p>Sobald etwas reserviert worden ist, ist es nur noch für euch sichtbar und wird für die anderen aus der
                Liste entfernt.</p>
            <p>Wenn etwas in der Liste einen Link hat, bitte dieses Produkt (muss nicht der angegebene Shop sein) holen.
                Wir haben uns das Produkt schon vorher ausgesucht</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="alert alert-danger">
            Die sind Bilder meist nur Beispiele. Die Strampler z.B. müssen nicht die gezeigten Farben haben.
        </div>
    </div>
</div>


<ng-container *ngIf="this.itemsService.itemsCurrentUser.length > 0">
    <div class="row">
        <div class="col">
            <h2>
                Für mich reserviert
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 pt-3" *ngFor="let item of this.itemsService.itemsCurrentUser">
            <div class="card">
                <img [src]="item.hrefImg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{item.headline}}</h5>
                    <p class="card-text">{{item.text}}</p>
                    <a [href]="item.href" class="btn btn-primary">Zum Produkt</a>
                    <a class="btn btn-danger mt-lg-2 ms-2 ms-lg-0"
                        (click)="this.itemsService.updateItemToNullUser(item._id)">Nicht mehr reservieren</a>

                </div>
            </div>
        </div>
    </div>

</ng-container>

<div class="row">
    <div class="col">
        <h2>
            Noch nicht reserviert
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 pt-3" *ngFor="let item of this.itemsService.items">
        <div class="card">
            <img [src]="item.hrefImg" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h5 class="card-title">{{item.headline}}</h5>
                <p class="card-text">{{item.text}}</p>
                <ng-container *ngIf="item.href != undefined">
                    <a [href]="item.href" class="btn btn-primary overflow-hidden">Zum Produkt</a>
                </ng-container>
                <a class="btn btn-primary ms-2"
                    (click)="this.itemsService.updateItemToCurrentUser(item._id)">Reservieren</a>
            </div>
        </div>
    </div>
    <ng-container *ngIf="this.itemsService.items === undefined || this.itemsService.items.length <= 0">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <span class="ml-2">Daten werden geladen...</span>
    </ng-container>
</div>