<div class="col d-flex justify-content-center">
    <div class="row">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-custom-color" id="dropdownBasic1" ngbDropdownToggle>
                Wer bist du?    
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ng-container *ngFor="let user of this.authService.allUsers">
                    <button ngbDropdownItem class="btn btn-custom-color" (click)="this.login(user.loginName)">{{user.loginName}}</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">

    </div>


    <div class=" d-flex justify-content-center">
        <img src="./assets/hand_foot.svg" class=" w-100 imgFront" alt="Responsive image">
    </div>